APP_NAME=pruebaTecnicaTesting
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=es_MX
APP_FALLBACK_LOCALE=es_MX
APP_FAKER_LOCALE=es_MX

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=